.aboutMeContainer {
  background-color: var(--semi-highlight);
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  border: 3px solid var(--foreground);
  margin-right: -3px;
  margin-top: 30px;
  padding: 10px 30px;
  position: relative;
}

.moreAboutMeContent {
  background-color: var(--highlight-background);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 30px;
  margin: 0 30px;
}

.moreAboutMeContent.expanded {
  max-height: 10000vh;
  padding: 10px 30px;
}

.verticalTimeText {
  text-align: center;
  writing-mode: vertical-lr;
  font-size: 3rem;
  margin-right: 10px;
  margin-left: -20px;
}

.toggleButtonContainer {
  display: flex;
  flex-direction: row;
  margin-top: -3px;
  justify-content: end;
  margin-right: 2.2rem;
}

.toggleButtonContainer.isExpanded {
  margin-top: 0px;
}

.toggleButton {
  padding: 5px 15px;
  background-color: var(--highlight-button);
  color: var(--foreground);
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
  border: var(--foreground) 3px solid;
  margin-left: -3px;
  height: 50px;
  transition: height 0.3s ease;
}

.toggleButton:first-child {
  margin-left: 0px;
}

.toggleButton:hover {
  height: 80px;
}
