.commentSectionContainer {
  border: var(--foreground) 3px solid;
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  background-color: var(--orange);
  margin-right: -3px;
  margin-top: 30px;
  padding: 10px 30px;
  position: relative;
}

.commentBox {
  position: relative;
  background-color: #fdf6e3;
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-width: 3px;
}
